html{
  scroll-behavior: smooth;
}

header{
  background-color: #17294a;
  align-content: center;
  font-family: Anduka, sans-serif;
  min-width: 300px;
}
img{
  margin-left: auto;
  margin-right: auto;
}

header > img{
  position: absolute;
  width: 20%;
  display: inline;
  float: left;
}

.title{
  margin: 20px auto 20px auto;
  border: 5px #f8b220 solid;
  background-color: #1b386d;
  width: 60%;
}

header > p{
  display: inline-block;
  align-items: center;
  padding-bottom: 20px;
}

p{
  display: inline-block;
  align-items: center;
  padding-bottom: 50px;
  min-width: 300px;
}

body{
  background-color: #17294a;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: calibri, sans-serif;
  font-weight: lighter;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}

nav li{
  display:inline;
  padding-right:20px;
  line-height: 25px;
}

nav{
  background-color: #f8b220;
  padding: 25px 0; 
  text-align: center;
  width: 100%;
  color: black;
}

nav a{
  text-decoration: none;
}

nav li:hover{
  text-decoration: underline solid 2px lightgrey;
}

header p{
  color: white;
  font-size: 24px;
  text-align: center;
}

.home{
  text-decoration: none;
}

.gallery{
  min-height: 600px;
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > img {
  border: 2px #f8b220 solid;
  margin: 10px;
  width: 300px;
}

.gallery > #mainImg {
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team {
  grid-template-columns: auto auto auto auto;
}
.maize{
  text-align: center;
}
.blue{
  text-align: center;
}
.coaches{
  text-align: center;
}

footer{
  border-top: 2px solid #f8b220;
  background-color: #0d1729;
  color: white;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
}

#current{
  color: black;
  text-decoration: underline 5px;
}

a{
  color: inherit;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 16px;
  background: #1b386d;
  border-top: 2px solid #f8b220;
  border-bottom: 2px solid #f8b220;
  max-width: 600px;
  padding: 1em;
  align-items: center;
  margin: 1fr;
  min-width: 300px;
  margin-left: 25%;
}

form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
  margin: auto;
}
form button:hover {
  background: #f8b220;
}

input, select {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid f8b220;
}
input, button {
  grid-column: 2 / 3;
}

select{
  color: gray;
}

.container {
  display: flex;
  flex-flow: wrap;
  margin: auto 10px auto 10px;
}

.container > img {
  width: 30%;
  align-items: center;
  margin: 10px auto 10px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container > p{
  padding-bottom: 0;
}

.maize{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 16px;
  background: #1b386d;
  border-top: 2px solid #f8b220;
  border-bottom: 2px solid #f8b220;
  max-width: 700px;
  padding: 1em;
  align-items: center;
  margin: 20px auto 10px auto;
}

.blue{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 16px;
  background: #1b386d;
  border-top: 2px solid #f8b220;
  border-bottom: 2px solid #f8b220;
  max-width: 700px;
  padding: 1em;
  align-items: center;
  margin: 20px auto 10px auto;
}

.coaches{
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 16px;
  background: #1b386d;
  border-top: 2px solid #f8b220;
  border-bottom: 2px solid #f8b220;
  max-width: 700px;
  padding: 1em;
  align-items: center;
  margin: 20px auto 10px auto;
}
button{
  background-color: #17294a;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #f8b220;
}

#downArrow{
  width: 15px;
}

.im:hover{
  border: 5px solid #f8b220;
  margin: 7px;
}

.skip a{
  background: #f8b220;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  color: black;
}

.skip a{
  position: absolute;
  top: -50px;
}
.skip a:focus{
  position: absolute;
  top: 10px;
}

#thin{
  visibility: hidden;
}

/*----------------------------------------------------------*/
.calendar{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
  grid-auto-flow: dense;
}

.calendar > h2{
  grid-column: 1;
}

.calendar > p{
  grid-column: span 1;
  margin: 10px;
  padding: 20px;
  background-color: #1b386d;
  border: 2px solid #f8b220;
  border-radius: 25px;
}
/*----------------------------------------------------------*/
/* TABLET VIEW */
@media screen and (min-width: 100px){
  main > header > h1{
    margin: 20px;
    border: 5px #f8b220 solid;
    background-color: #1b386d;
    width: 50%;
    margin: 20px auto 20px auto;
  }
  header > img{
    position: absolute;
    width: 150px;
    display: inline;
    float: left;
    margin-left: 10%;
  }

  .maize{
    grid-template-columns: auto auto ;

  }

  .maize > h2{
    grid-column: 1/span 2;
  }


  .blue{
    grid-template-columns: auto auto ;
    }

  .blue > h2{
    grid-column: 1/span 2;
  }

  .coaches{
    grid-template-columns: auto auto ;
  }

  .coaches > h2{
    grid-column: 1/span 2;
  }

  .container {
    display: flex;
    flex-flow: wrap;
    margin: auto 5% auto 5%;
  }

  .container > p{
    padding: 10px;
  }

  footer{
    font-size: 30px;
    line-height: 50px;
  }

  .coaches{
    grid-template-columns: auto auto ;
  }
  .calendar > p{
    grid-column: 1/ span 1;
  }
  .calendar h2{
    grid-column: span 3;
  }
  .calendar p{
    grid-row: span 1;
  }

  .form{
    
    min-width: 400px;
    max-width: 750px;
  }
}
@media screen and (min-width: 600px){
  #main > .container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  #p1{
    grid-row: 1/ Span 1;
  }
  #thin1, #thin2,#thin3{
    width: 100%;
    border: 2px solid #f8b220;
  }
  #thin1{
    grid-row: 1/span 1;
    grid-column: 2/Span 1;
  }
  #thin2{
    grid-row: 2/span 1;
    grid-column: 1/span 1;
  }
  #p2{
    grid-row: 2/ Span 1;
  }
  #p3{
    grid-row: 3/ Span 1;
  }
  #thin3{
    grid-row: 3/span 1;
    grid-column: 2/span 1;
  }

  #pagebreak{
    visibility: hidden;
  }
  #thin{
    visibility: visible;
  }
}