html{
  scroll-behavior: smooth;
}

header{
  background-color: #17294a;
  align-content: center;
  font-family: Anduka, sans-serif;
}
img{
  margin-left: auto;
  margin-right: auto;
}

header > img{
  position: absolute;
  width: 20%;
  display: inline;
  float: left;
}

.title{
  margin: 20px auto 20px auto;
  border: 5px #f8b220 solid;
  background-color: #1b386d;
  width: 60%;
}

header > p{
  display: inline-block;
  align-items: center;
  padding-bottom: 20px;
}

p{
  display: inline-block;
  align-items: center;
  padding-bottom: 50px;
}

body{
  background-color: #17294a;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: calibri, sans-serif;
  font-weight: lighter;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav{
  background-color: #f8b220;
  padding: 25px 0; 
  text-align: center;
  width: 100%;
}

nav a{
  text-decoration: none;
  color: #17294a;
}

header p{
  color: white;
  font-size: 24px;
  text-align: center;
}



.gallery{
  min-height: 600px;
  /*Your code here again.*/
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > img {
  border: 5px #f8b220 solid;
  margin: 10px;
  width: 300px;
}

.gallery > #mainImg {
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team {
  grid-template-columns: auto auto auto auto;
}
.maize{
  text-align: center;
}
.blue{
  text-align: center;
}
.coaches{
  text-align: center;
}

footer{
  border-top: 2px solid #f8b220;
  background-color: #0d1729;
  color: white;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
}

#current{
  color: black;
  
  text-decoration: underline 5px;
}

a{
  color: inherit;
}

form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  background: #1b386d;
  border-top: 2px solid #f8b220;
  border-bottom: 2px solid #f8b220;
  max-width: 600px;
  padding: 1em;
  align-items: center;
  margin: 20px auto 10px auto;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form button:hover {
  background: #f8b220;
}

label {
  text-align: right;
  grid-column: 1 / 2;
}

input, select {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid f8b220;
}
input, button {
  grid-column: 2 / 3;
}

.container {
  display: flex;
  flex-flow: wrap;
  margin: auto 10px auto 10px;
}

.container > img {
  width: 30%;
  align-items: center;
  margin: 10px auto 10px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container > p{
  padding-bottom: 0;
}

@media screen and (min-width: 750px){
  main > header > h1{
    margin: 20px;
    border: 5px #f8b220 solid;
    background-color: #1b386d;
    width: 50%;
    margin: 20px auto 20px auto;
  }
  header > img{
    position: absolute;
    width: 150px;
    display: inline;
    float: left;
    margin-left: 10%;
  }

  .maize{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    background: #1b386d;
    border-top: 2px solid #f8b220;
    border-bottom: 2px solid #f8b220;
    max-width: 600px;
    padding: 1em;
    align-items: center;
    margin: 20px auto 10px auto;
  }
  .blue{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    background: #1b386d;
    border-top: 2px solid #f8b220;
    border-bottom: 2px solid #f8b220;
    max-width: 600px;
    padding: 1em;
    align-items: center;
    margin: 20px auto 10px auto;
  }

  .coaches{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    background: #1b386d;
    border-top: 2px solid #f8b220;
    border-bottom: 2px solid #f8b220;
    max-width: 600px;
    padding: 1em;
    align-items: center;
    margin: 20px auto 10px auto;
  }

  .container {
    display: flex;
    flex-flow: wrap;
    margin: auto 20% auto 20%;
  }

  .container > p{
    padding: 10px;
  }

  footer{
    font-size: 30px;
    line-height: 50px;
  }
}